<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cupons.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cupons.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Cupons.Settings>
      <setting name="User" serializeAs="String">
        <value>Usuário Padrao1</value>
      </setting>
      <setting name="Liberacao" serializeAs="String">
        <value>Empresa Teste Ltda</value>
      </setting>
      <setting name="ValorPromocao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="stringConnection" serializeAs="String">
        <value>Data Source = localhost,5010\Cupons; Initial Catalog = Cupons; User ID = sa; Password = solution</value>
      </setting>
      <setting name="Impressora" serializeAs="String">
        <value />
      </setting>
    </Cupons.Settings>
    <Cupons.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value>Usuário Padrao1</value>
      </setting>
      <setting name="Liberacao" serializeAs="String">
        <value>Empresa Teste Ltda</value>
      </setting>
      <setting name="ValorPromocao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="stringConnection" serializeAs="String">
        <value>Data Source = localhost,5010\Cupons; Initial Catalog = Cupons; User ID = sa; Password = solution</value>
      </setting>
      <setting name="Impressora" serializeAs="String">
        <value />
      </setting>
    </Cupons.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="CuponsEntities" connectionString="metadata=res://*/Model.ModeloBanco.csdl|res://*/Model.ModeloBanco.ssdl|res://*/Model.ModeloBanco.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source = Cupons_SRV\Cupons; Initial Catalog = Cupons; User ID = sa; Password = solution;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>